<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="default" value="https://nuget.pkg.github.com/paulo-rogerio-oliveira/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="paulo-rogerio-oliveira" />
            <add key="ClearTextPassword" value="Token" />
        </github>
    </packageSourceCredentials>
</configuration>